  /*    ++++++++++BACKGROUND BODY++++++++++++++++*/
        
        @media only screen and (max-width: 1500px) {
            body {
                font-family: 'Oswald', sans-serif;
                background: url(https://media.contentapi.ea.com/content/starwars-ea-com/es_ES/starwars/battlefront/features/multiplayer/_jcr_content/ogimage.img.jpg) no-repeat;
                background-attachment: fixed;
                background-size: 100%;
            }
        }
        
        @media only screen and (max-width: 1020px) {
            body {
                font-family: 'Oswald', sans-serif;
                background: url(https://i.pinimg.com/736x/a1/61/c7/a161c7034917936f8bd53ca65bc6f0d0--star-wars-stuff-art-illustrations.jpg)no-repeat center fixed;
                background-size: 100%;
            }
        }
        @media only screen and (max-width: 600px) {
            body {
                font-family: 'Oswald', sans-serif;
                background: url(https://i.pinimg.com/736x/a1/61/c7/a161c7034917936f8bd53ca65bc6f0d0--star-wars-stuff-art-illustrations.jpg)no-repeat top fixed;
                background-color: black;
                background-size: 100%;
            }
        }
        /*        +++++++++NAV+++++++++++++++*/
        
        h1 {
            text-shadow: 2px 1px gray;
            letter-spacing: 3px;
        }
        @media only screen and (max-width: 767px) {
            #titleH1{
                display: none;
            }
        }
        @media only screen and (max-width: 767px) {
            #divSearch{
                margin-bottom: 1em;
            }
        }
        #search {
            margin-top: 0.3em;
            font-family: 'Oswald', sans-serif;
            font-size: 12pt;
        }
        
        .navegador {
            color: white;
            border-bottom: 5px solid #FFD700;
            width: 100%;
            position: fixed;
            background: black;
            opacity: 0.9;
            margin: 0;
        }    
        section {
            margin-top: 5em;
        }
        /*   +++++++++++++++FILMS TABLE (#ALLFILMS)+++++++++++*/
        
        .contenedor {
            margin-top: 2em;
        }
        
        .image {
            opacity: 1;
            display: block;
            border-radius: 5px;
            width: 100%;
            height: 22em;
            transition: .5s ease;
        }
        
        @media only screen and (max-width: 767px) {
            .image {
                opacity: 1;
                display: block;
                margin-left: 15%;
                width: 70%;
                height: auto;
                transition: .5s ease;
            }
        }
        /*        ++++++INSIDE FILM TABLE++++++++*/
        
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%)
        }
        
        .title {
            font-size: 20pt;
            margin-top: 1em;
        }
        
        .contenedor:hover .image {
            opacity: 0.8;
            -webkit-filter: contrast(10%);
            filter: contrast(10%);
        }
        
        .contenedor:hover .middle {
            opacity: 1;
        }
        /*        570 992*/
        
        .fa {
            font-size: 20pt;
            margin-top: 0.4em;
        }
        
        .fa:hover {
            opacity: 0.8;
        }
        
        .botonInfo {
            margin-top: 5em;
            font-family: 'Oswald', sans-serif;
            font-size: 15pt;
            border-bottom: 2px solid gold;
        }
        
        .botonInfo:hover {
            opacity: 0.8;
        }
        
        button {
            background: none;
            border: none;
            color: gold;
            cursor: pointer;
        }
        
        @media only screen and (max-width: 767px) {
            .title {
                font-size: 30pt;
                margin-top: 1em;
            }
            .botonInfo {
                margin-top: 5em;
                font-family: 'Oswald', sans-serif;
                font-size: 15pt;
                border-bottom: 2px solid gold;
            }
        }
        @media only screen and (max-width: 740px) {
            .title {
                font-size: 20pt;
                margin-top: 1em;
            }
            .botonInfo {
                margin-top: 3em;
                
            }
        }
        /*    ++++++++++MORE INFO (#ONEFILM)++++++++++++*/
        
        .infoImage {
            width: 19em;
            border-radius: 5px;
        }
        
        .table-hover {
            background-color: white;
            opacity: 0.7;
            border-radius: 5px;
            font-size: 15pt;
        }
        
        .infoTable {
            opacity: 1;
        }